<link rel="stylesheet" href="/css/user_sign_up.css">

    

<main>
    <div id = "space-around">
        <div id = "sign-up-container">
            <h1>Sign up</h1>
            <form action="/users/create" method = "POST">
            
                <div class = "input-box">
                    <input type="text" name = "name" placeholder="Your Name" required>
                </div>
            
                <div class = "input-box">
                    <input type="email" name = "email" placeholder="Your email" required>
                </div>
            
                <div class = "input-box">
                    <input type="password" name = "password" placeholder="password" required>
                </div>
            
                <div class = "input-box">
                    <input type="password" name = "confirm_password" placeholder="Confirm password" required>
                </div>
                <div id = Submit>
                    <input type="Submit"  value = "SignUp">
                </div>
            </form>
            
        
            <div id = "Google">
                <a href="/users/auth/google"><i class="fab fa-google"></i> | Continue with Google</a>
            </div>
            <div>
                Already a User? <a href="/users/sign-in">Sign In</a>
            </div>
        
        </div>
        <div>
    
        </div>
    </div>
</main>

