#home-container{
    display: flex; 
    flex-direction: row;

    a{
        i{
            color: red;
            
        }
    }
  
    #feed-posts{
        width: 90%;
        padding: 10px;
        text-align: center;
        

        
        
        #post-container{
            // padding: 12px;
            padding: 2vw;
            border-bottom: 1px solid white;
        }
        ul{
            list-style: none;
            display:flex;
            flex-direction:column;
            flex-grow: 2;
            li{
                border: 1px solid lightgrey;
                border-radius: 5px;
                margin: 20px;
                background-color: black;
                text-align: left;
                width: 50vw;
                max-width: 50vw;
                overflow:auto;
                
                .space-between-post{
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    #post-name-dp{

                        display: flex;
                        font-size: x-large;

                        img{
                            border: 1px solid white;
                        }
                        
                    }
                    border-bottom: 1px solid white;                    
                }
                .space-between-comment{
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid white;
                    #comment-name-dp{
                        display: flex;
                        font-size: larger;
                        img{
                            border: 1px solid white;
                        }
                    }
                    
                }
                #lalign{
                    padding: 10px;
                }
                
            }
        }
        #like-comment-container{
            border-top: 1px solid white;
        }
        #like-comment{
            padding-top: 1vw;
            margin-left: 2vw;
            font-size: larger;
            a{
                
                text-decoration: none;
                color: white;
                i{
                    color: white;
                }
            }
        }
        .post-comments-list{
            
            list-style: none;
          border-top: 1px solid white;

            li{
                
                width: 42vw;                
                
            }
        }
        textarea{
            /* Tell the input to use all the available space */
        //  flex-grow:1;
         /* And hide the input's outline, so the form looks like the outline */
         width:48vw;
         height: 10vh;
         background-color: black;
         color: white;
         border:1px solid white;
         border-radius: 5px;
         margin-left:3.8vw ;
         
        
       }
        
        form {
            /* This bit sets up the horizontal layout */
            display:flex;
            flex-direction:row;
            
            /* This bit draws the box around it */
            
            border-radius: 5px;
          
            /* I've used padding so you can see the edges of the elements. */
            padding:2px;
          }
          
          input {
              
            /* Tell the input to use all the available space */
            flex-grow:1;
            /* And hide the input's outline, so the form looks like the outline */
            border:none;
            background-color: black;
            color: white;
            outline: none;
            border-top:1px solid grey;
          }
          
          button {
            /* Just a little styling to make it pretty */
            border:1px solid white;
            background:white;
            font-weight: 700;
            color:rgb(24, 23, 23);
            cursor: pointer;
            border-radius: 5px;
          }
    }
    #user-friends{
        width: 15%;
        padding-left: 30px;
        padding-right: 30px;           
        height: fit-content;  
        border: 1px solid lightgrey;
        margin-left: 2%;
        margin-top: 2%;
        border-radius: 5px;
        background-color: black;
        text-align: left;
        h4{
            padding: 0;
            border-bottom: 1px solid grey;
            width:100%;
        }
        a{
            text-decoration: none;
            color: white;
        }
        img{
            border: 1px solid white;
        }
    }
}
.Dp_post_comment{
    border-radius: 50%;
}