body{form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin: 20px;
    
    /* This bit draws the box around it */
    border:2px solid grey;
    border-radius: 5px;
  
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
    background-color: black;
    color: white;
    outline: none;
  }
  button {
    border:1px solid white;
    background:white;
    font-weight: 700;
    color:rgb(24, 23, 23);
    cursor: pointer;
    border-radius: 5px;
  }
    color: white;
    
}