body{
  
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
  #img-container{
    margin-top: 20px;
    text-align: center;
    img{
      border: 1px solid white;
      border-radius: 50%;
    }
  }

  #space-around{
    display: flex;
    justify-content: space-around;
    
    #profile-container{
    background-color: rgb(20,20,20);
      border: 1px solid white;   
      border-radius: 5px; 
      display: flex;
     
      width: 40vw;
      text-align: center;
      flex-direction: column;
      .profile-update-input{
        margin: 5vh;
      }
    }
    form{
      input{
        width: 30vw;
        height: 5vh;
        background-color: black;
        color:white;
        padding: 10px;
        font-size: x-large;
        border-radius: 100px;
      }
      button{

        width: 15vw;
        height: 5vh;
        background-color: black;
        color: white;
        // padding: 10px;
        font-size:xx-large;
        font-weight: 700;
        padding-bottom: 10px;
        font-size: x-large;
        border-radius: 100px;
        
      }
    }
    margin: 50px;

  }    
    
}

#profile-container:active{
  background-color: black;
}