#user-chat-box {
  position: fixed;
  bottom: 0px;
  right: 10px;
  border: 1px dashed grey;
  height: 50vh;
  width: 20vw;
  background: black;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 0px;
    height: 78%;
    background-color: black;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 10px;
        background-color: #848484;
        color: white;
        border-radius: 20px;
        border-bottom-left-radius: 0; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 10px;
        background-color: dodgerblue;
        color: white;
        border-radius: 20px;
        border-bottom-right-radius: 0; }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 40%;
      width: 70%;
      border-radius: 20px;
      padding-left: 5px;
      background-color: #1e1e1e;
      color: white; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 20px;
      color: white;
      border: none;
      background: dodgerblue;
      border-radius: 20px; }
